.App {
  text-align: center;
}

.site-layout-content {
  min-height: 25rem;
  height: 100%;
  margin: 30px 0 0 0;
  padding: 30px;
  background: #fff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}